.cv span {
    color: #EC268F;
    border: 1px solid #EC268F;
    font-size: 10px;
    padding: 3px;
}

.cv {
    background-color: #fff;
    border: 1px solid #F0F0F0;
}

.bg{background-color: #fcfcfc;}

.navbar {font-weight: 400; background: #fff; }

.cv {
    background-color: #fff;
    border: 1px solid #F0F0F0;
}

.colorless{
    background-color: white !important;
}

.colp {
    color: #EC268F;
}


.dline1{
    border-bottom: 1px solid #F0F0F0;
    width: 100%;
}

th > img {
    width:100px;
    height: auto;
}

.cursor{
    cursor: pointer;
}

.f{
    color: #fff !important;
}

.gray{
    background-color: #fcfcfc !important;
}

.self{
  align-self: ;
}